{{!-- <ol class="post-list">
    {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <h2>
        <a href="/post/{{id}}">{{title}}</a>
        <span>({{post.post_content}})</span>
        </h2>
      <div class="meta">
         Posted by {{User.username}} on {{createdAt}}
        
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
      <div class="posts">
        {{body}}
      </div>
    </article>
  </li>
  {{/each}}
</ol> --}}

<div class="posts">
  {{#each posts}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div>
        Posted by {{User.username}} on {{createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>