<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <h2>
        <a href="/post/{{id}}">{{title}}</a>
        <span>{{post.post_content}}</span>
        </h2>
      <div class="meta">
         Posted by {{User.username}} on {{format_date createdAt}}
        
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div>
      <div class="posts">
        {{body}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>

